/*********************
------ MOVING ELEMENTS
**********************/
html, body, h1, h2, h3, h4, h5, h6, i, b {
	font-family: 'Roboto', sans-serif;
	overflow-y: hidden;
}

.z-index: {
	z-index: 999px;
}

/* Push elements down a bit*/
.pull-down {
	margin-top: 5em;
}

/* Removes padding of element */
.no-padding {
	padding: 0px;
}

/* Modify position of Forever confused button */
.absolute-position {
	position: absolute;
	bottom: 35px;
}

.autoheight {
   position: absolute;
   bottom: 10px; /*your button position*/
   right: 10px; /*your button position*/
}

.btn-lg a {
	color:#ffffff;
}

.btn-lg a:hover {
	text-transform: none;
	text-decoration: none;
}

/* Resize images */
img.resize{
	height: 100%;
	width: 100%;
	object-fit: contain;
}

/*********************
------- FONT CSS RULES
**********************/

/* To add strokes to plain font */
h3 {
	-webkit-text-stroke: 1px black;
	color: white;
	text-shadow:
	-1px -1px 0 #000,  
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
}

/*********************
---- IMAGE MANIPULATION
**********************/

/* To keep buttons on top of image */
.img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  height: 100vh;
}

/* This adjusts height to position overlay content vertically */
.img-overlay:before {
  content: ' ';
  display: block;
  height: 35%;
}

/*Adds background color opacity to the image*/
.bg-blue-opacity >  div {
  	-webkit-filter: opacity(.7);
	 filter: opacity(.7);
	background: rgb(35,61,77);
	transition:all 0.3s ease-in;
	overflow: hidden;
}

/*Adds an opacity of blue and a scale*/
.bg-blue-opacity:hover > div {
	background: rgb(35,61,77);
	-webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    transition:all 0.3s ease-out;
    overflow: hidden;
}


/*Increase image size*/
.background-image-size {
	position: fixed;
}

.background-image-height{
	height: 100vh;
	object-fit: cover;
}



/*Hides overflow image upon hover*/
.hidden-overflow {
	overflow: hidden;
}

.hidden-button {
	display: none;
}

/* Reveal hidden button */
.hidden-button:hover {
	display: inline;
}

/*Customized Buttons*/
.red {
	background: #e84855;
	border-radius: 6px;
	border-bottom: 5px solid #ce3440;
	border-top:0px;
	border-left: 0px;
	border-right: 0px;
}

.yellow {
	background: #feb95f;
	border: 0px;
	border-bottom: 5px solid #e29a3b;
	border-top:0px;
	border-left: 0px;
	border-right: 0px;
}


/*INDEX*/
/*Hidden Feature*/

 .absolute-position-index {
    position: absolute;
    bottom: 35px;    
    height: 55px;
    width: 270px;
}


#absolute-position-index-button {
    visibility: hidden;
 
}

/*MOTIVATE ME*/

 .absolute-position-motivate {
    position: absolute;
    top: 35px;    
    height: 55px;
    width: 270px;

}

#absolute-position-motivate-button {
    visibility: hidden;
}


.meme-page {
	background: url('https://www.123freevectors.com/wp-content/original/4006-dark-blue-bokeh-wallpaper.jpg');
	background-repeat: no-repeat;
	height: 100vh;
	object-fit: cover;
	overflow-y:hidden;
}

.inspirational-page {
	background: url('https://ak3.picdn.net/shutterstock/videos/31268473/thumb/1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	overflow-y:hidden;
}

/*CONFUSED INDEX*/
#absolute-position-confused-button {
    visibility: hidden;
}

/*MEMES*/
a.btn.btn-success.btn-lg.green {
    background: #feb95f;
    border: 0px;
    border-bottom: 12px solid #e29a3b;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    text-decoration: none;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    padding: 3px 47px;
}
.meme-page {
	align-content: center;
}


#meme {
	position: center;
	height:600px;
	width:600px;

}

.meme-clear-div {
	height:30px;
	width:600px;
	
}


/*INSPIRATIONAL*/

.inspirational-page {
	background: url('https://ak3.picdn.net/shutterstock/videos/31268473/thumb/1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

.inspirational-image {
	
	height:600px;
	width:600px;
	overflow: hidden;
	align-self: center;
}

#inspiration {
	position: center;
	height:600px;
	width:600px;
}
/*DEMOTIVATING*/

.demotivating-page{
	background: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/PZSxGIZ/elegant-light-bokeh-2-loopable-background_ejxd-iubs__F0000.png');
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	height: 100vh;
}


#image-demotivating {
        width: 600px;
        height: 600px;
        margin: 0 auto;
}

/*TIMER*/

.timer {
	width: 550px;
    height: 550px;
    border: solid black;
}